*(busy)
*.4ct
*.4tc
*.aux
*.bb
*.bbl
*.blg
*.css
*.dot-u
*.dvi
*.fls
*.fmt
*.idv
*.idx
*.ilg
*.ind
*.jqz
*.lg
*.log
*.nav
*.orig
*.out
*.raux
*.rej
*.release-stamp
*.snm
*.synctex.gz
*.texe
*.tmp
*.tmplog
*.toc
*.vrb
*.waux
*.wdvi
*.xbb
*.xref
*_latexmk
*~
._whizzy*
/*.html
/epub
/html
/html*/*
/pdf*/*
_minted*
_whizzy*
auto
debianmeeting*.pdf
