*.4ct
*.4tc
*.aux
*.css
*.dot-u
*.dvi
*.html
*.idv
*.idx
*.ilg
*.ind
*.jqz
*.lg
*.log
*.nav
*.orig
*.out
*.raux
*.release-stamp
*.snm
*.tmp
*.toc
*.wdvi
*.waux
*.xref
*~
._whizzy*
/html
_whizzy*
debianmeeting*.pdf
