/* main css file */

@import url(http://tokyodebian.alioth.debian.org/debianmeeting.css);

table {
    border-style: outset;
}

thead {
}

th {
    border-style: inset;
}

td{
    border-style: inset;
}
