<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>Event administration</title>
  </head>

  <body>
    <h1>幹事用イベント管理ページ</h1>
    {% ifnotequal eventid 'na' %}
    <p>
      現在の登録状況です
    </p>
    {% endifnotequal %}

    <form action="/eventadmin/register" method="post">
      <input type="hidden" name="eventid" value="{{ eventid|escape }}">
      <div>管理者: {{ nickname|escape }}</div>
      <div>その他の管理者のメールアドレス(コンマ区切りで空白なし): 
	<textarea name="owners_email" rows="1" cols="60">{{ owners_email|escape }}</textarea></div>
      <div>タイトル: <textarea name="title" rows="1" cols="60">{{ title|escape }}</textarea></div>
      <div>開催場所: <textarea name="location" rows="1" cols="60">{{ location|escape }}</textarea></div>
      <div>開催概要: <textarea name="content" rows="5" cols="60">{{ content_text|escape }}</textarea></div>
      <div>URL: <textarea name="content_url" rows="1" cols="60">{{ content_url|escape }}</textarea></div>
      <div>開催時間: <textarea name="event_date" rows="1" cols="60">{{ event_date|escape }}</textarea></div>
      <div>事前課題: <textarea name="prework" rows="5" cols="60">{{ prework_text|escape }}</textarea></div>
      <div>募集人数: <textarea name="capacity" rows="1" cols="60">{{ capacity|escape }}</textarea></div>
      <div><input type="submit" value="入力を確定する"></div>
    </form>
    
    {% ifnotequal eventid 'na' %}
    <p>
      登録用ページなど
    </p>
    <a href="/event?eventid={{ eventid|escape }}">ユーザ用登録ページ</a>
    <a href="/eventadmin/summary?eventid={{ eventid|escape }}">管理者用登録状況確認ページ</a>
    <a href="/enquete/edit?eventid={{ eventid|escape }}">アンケート編集ページ</a>
    <a href="/">トップページ</a>
    {% endifnotequal %}

    <hr>
    <address><a href="mailto:dancer@debian.org">Junichi Uekawa</a></address>
<!-- Created: Thu Dec 24 10:00:28 JST 2009 -->
<!-- hhmts start -->
Last modified: Thu Dec 15 08:04:52 JST 2011
<!-- hhmts end -->
  </body>
</html>
