<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
    <title>Debian勉強会予約管理システム</title>
  </head>

  <body>
    <h1>Debian勉強会予約管理システム</h1>
    <h2>このシステム</h2>
    <p>
      このシステムはDebian勉強会の予約を円滑にするために開発されたシステムです。
      その他の勉強会などに流用してもらってもかまいませんが、Debian勉強会に必要な機能を優先して実装しています。
    </p>
    
    <h2>参加者</h2>
    <p>
      イベントのEventID をしらべてそのイベントに登録してください。
      今ログインしている {{nickname|escape}} として登録されます。
    </p>
    <form action='/event' method='post'>
      Event ID: <input type='text' name='eventid' value=''> <input type="submit" value="予約画面に飛ぶ">
    </form>
    <p>
      自分が過去に登録したイベントの一覧
    </p>
    <ul>
      {% for attendance_title in attendance_titles %}
      <li><a href="/event?eventid={{ attendance_title.eventid|escape }}"> {{ attendance_title.title|escape }} 
	</a>
	{% if attendance_title.want_enquete %}
	<a href="/enquete/respond?eventid={{ attendance_title.eventid|escape }}">[アンケートに回答する]</a>
	{% endif %}
      </li>
      {% endfor %}
    </ul>
    <h2>管理者</h2>
    <p>
      イベントの作成や確認ができます。
    </p>

    <p>
      <a href="/newevent">イベントを作成する</a>
    </p>

    <form action='/eventadmin/edit' method='post'>
      Event ID: <input type='text' name='eventid' value=''> <input type="submit" value="編集画面へ">
    </form>

    <form action='/eventadmin/summary' method='post'>
      Event ID: <input type='text' name='eventid' value=''> <input type="submit" value="イベントの登録者一覧へ">
    </form>

    <p>
      自分が過去に作成したイベントの一覧
    </p>
    <ul>
      {% for event in events %}
      <li>
	<a href="/eventadmin/edit?eventid={{ event.eventid|escape }}">{{event.title}}</a>
	<a href="/event?eventid={{ event.eventid|escape }}">[ユーザ向け登録ページ]</a>
	<a href="/eventadmin/summary?eventid={{ event.eventid|escape }}">[管理者向け一覧参照ページ]</a>
	<a href="/eventadmin/preworklatex?eventid={{ event.eventid|escape }}">[管理者向けLaTeXソース]</a>
	<a href="/enquete/edit?eventid={{ event.eventid|escape }}">[アンケート編集ページ]</a>
	<a href="/enquete/showresult?eventid={{ event.eventid|escape }}">[アンケート集計CSV]</a>
      </li>
      {% endfor %}
    </ul>

    <p>
      <!-- TODO:管理者じゃないと表示しないようにする -->
      <a href="/enquete/showallresults">[アンケートの結果を全部集計したい]</a>
    </p>

    <a href="{{logout_url}}">log out</a>
    <hr>
    <address><a href="mailto:dancer@debian.org">Junichi Uekawa</a></address>
<!-- Created: Thu Dec 24 11:55:17 JST 2009 -->
<!-- hhmts start -->
Last modified: Thu Jan 24 18:38:51 JST 2013
<!-- hhmts end -->
  </body>
</html>
