<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>イベント登録ページ</title>
    <!-- non_simple_ui -->
  </head>

  <body>
    <h1>イベント登録ページ</h1>
    {% if not new_entry %}
    <p>
      現在の登録状況です <!-- not new entry -->
    </p>
    {% endif %}

    <form action="/eventregister" method="post">
      <input type="hidden" name="eventid" value="{{ eventid }}">
      <div>管理者: {{ nickname }}</div>
      <div>タイトル: {{ title }}</div>
      <div>開催場所: {{ location }}</div>
      <div>開催概要: {{ content_text }}
      </div>
      {% if content_url %}
      <div> URL: <a href='{{ content_url }}'>{{ content_url }}</a>
	<iframe src='{{ content_url}}' width='100%' height='900'>
	</iframe>
      </div>
      {% endif %}
      <div>開催時間: {{ event_date }}</div>
      <div>事前課題: {{ prework_text }}</div>
      <div>名前(メールアドレスのかわりに提出課題一覧・出席確認のために利用する名前です、本人確認できるようにしてください): <br>
	<textarea name="user_realname" rows="1" cols="60">{{ user_realname }}</textarea></div>
      <div>課題回答: <br><textarea name="user_prework" rows="10" cols="60">{{ user_prework }}</textarea></div>
      <div>参加: <input type='checkbox' name='user_attend' value='attend'
	{% if user_attend %} checked {%endif%} >
      </div>
      <div>二次会参加: <input type='checkbox' name='user_enkai_attend' value='enkai_attend'
	{% if user_enkai_attend %} checked {%endif%} >
      </div>
      {% ifnotequal remaining_seats -1 %}
      <div>残席数: {{remaining_seats}}</div>
      {% endifnotequal %}
      <div><input type="submit" value="入力を確定する"></div>
    </form>
    
    {% if not new_entry %}
    <p>リンクなど
    </p>
    <a href="/">トップページ</a>
    {% endif %}

    <hr>
    <address><a href="mailto:dancer@debian.org">Junichi Uekawa</a></address>
<!-- Created: Thu Dec 24 10:00:28 JST 2009 -->
<!-- hhmts start -->
Last modified: Sun Feb 28 00:57:31 JST 2010
<!-- hhmts end -->
  </body>
</html>
