<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>イベント登録ページ</title>
    <!-- simple_ui -->
  </head>

  <body>
    {% if not new_entry %}
    <p>
      現在の登録状況です <!-- not new entry -->
    </p>
    {% endif %}

    <form action="/eventregister" method="post">
      <input type="hidden" name="eventid" value="{{ eventid|escape }}">
      <div>タイトル: {{ title|escape }}</div>
      <div>事前課題: {{ prework_text|escape|linebreaksbr }}</div>
      <div>名前(メールアドレスのかわりに提出課題一覧・出席確認のために利用する名前です、本人確認できるようにしてください): <br>
	<textarea name="user_realname" rows="1" cols="60">{{ user_realname|escape }}</textarea></div>
      <div>課題回答: <br><textarea name="user_prework" rows="10" cols="60">{{ user_prework|escape }}</textarea></div>
      <div>参加: <br>
	<input type='radio' name='user_attend' value='attend' {% if user_attend %} checked {%endif%} > 参加する <br>
        <input type='radio' name='user_attend' value='' {% if not user_attend %} checked {% endif %} > 参加しない (キャンセル)
      </div>
      <div>二次会参加: <br>
	<input type='radio' name='user_enkai_attend' value='enkai_attend' {% if user_enkai_attend %} checked {%endif%} > 参加する<br>
        <input type='radio' name='user_enkai_attend' value='' {% if not user_enkai_attend %} checked {% endif%} > 参加しない (キャンセル)
      </div>
      {% ifnotequal remaining_seats -1 %}
      <div>残席数: {{ remaining_seats }}</div>
      {% endifnotequal %}
      <div><input type="submit" value="入力を確定する"></div>
    </form>
  </body>
</html>
