<!DOCTYPE html>
<html>
  <head>
    <meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>イベント参加者一覧</title>
  </head>

  <body>
    <h1>イベント参加者一覧</h1>

    <table>
      <thead>
	<tr>
	  <td>名前</td>
	  <td>メールアドレス</td>
	  <td>出席</td>
	  <td>二次会出席</td>
	  <td>事前課題</td>
	  <td>登録のタイムスタンプ</td>
	</tr>
      </thead>
      <tbody>
    {% for attendance in attendances %}
      <tr>
	  <td>{{ attendance.user_realname|escape }}</td>
	  <td>{{ attendance.user.email|escape }}</td>
	  <td>
	    {% if attendance.attend %}
	    ○
	    {% else %}
	    ×
	    {% endif %}
	  </td>
	  <td>
	    {% if attendance.enkai_attend %}
	    ○
	    {% else %}
	    ×
	    {% endif %}
	  </td>
	  <td>
	    {{ attendance.prework_text|escape|linebreaksbr }}
	  </td>
	  <td>
	    {{ attendance.timestamp }}
	  </td>
	</tr>
    {% endfor %}
      </tbody>
    </table>
    <p>
      サマリー:　
      参加者数 {{ num_attend }}, 
      二次会参加者数 {{ num_enkai_attend }}
    </p>
    <p>
      登録時刻のヒストグラム<br>
	<svg width="800" height="120">
	  <text x="0" y="120">{{bucket_delta_seconds.xlabel_left}}</text>
	  <text x="400" y="120">{{bucket_delta_seconds.xlabel_right}}</text>
	  <text x="0" y="100">{{bucket_delta_seconds.ylabel_bottom}}</text>
	  <text x="0" y="16">{{bucket_delta_seconds.ylabel_top}}</text>
	  <polyline 
	    points="{% for bucket_delta_second in bucket_delta_seconds.series %}{{ bucket_delta_second.x }},{{ bucket_delta_second.y }} {% endfor %}"
	    fill=none
	    stroke="#333">
	  </polyline>
    </svg>
    </p>
    <hr>
  </body>
</html>
