<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>イベント参加者一覧</title>
  </head>

  <body>
    <h1>イベント参加者一覧</h1>

    <table>
      <thead>
	<tr>
	  <td>名前</td>
	  <td>メールアドレス</td>
	  <td>出席</td>
	  <td>二次会出席</td>
	  <td>事前課題</td>
	  <td>登録のタイムスタンプ</td>
	</tr>
      </thead>
      <tbody>
    {% for attendance in attendances %}
      <tr>
	  <td>{{ attendance.user_realname|escape }}</td>
	  <td>{{ attendance.user.email|escape }}</td>
	  <td>
	    {% if attendance.attend %}
	    ○
	    {% else %}
	    ×
	    {% endif %}
	  </td>
	  <td>
	    {% if attendance.enkai_attend %}
	    ○
	    {% else %}
	    ×
	    {% endif %}
	  </td>
	  <td>
	    {{ attendance.prework_text|escape|linebreaksbr }}
	  </td>
	  <td>
	    {{ attendance.timestamp }}
	  </td>
	</tr>
    {% endfor %}
      </tbody>
    </table>
    <p>
      サマリー:　
      参加者数 {{ num_attend }}, 
      二次会参加者数 {{ num_enkai_attend }}
      
    </p>
    <hr>
    <address><a href="mailto:dancer@debian.org">Junichi Uekawa</a></address>
<!-- Created: Wed Dec 30 09:42:24 JST 2009 -->
<!-- hhmts start -->
Last modified: Fri Jan 18 19:19:28 JST 2013
<!-- hhmts end -->
  </body>
</html>
