<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>イベント参加者一覧</title>
  </head>

  <body>
    <h1>イベント参加者一覧</h1>

    <ul>
    {% for attendance in attendances %}
	<li>{{attendance.user_realname}}
	({{attendance.user}}): 
	[
	{% if attendance.attend %}
	参加
	{% else %}
  	不参加
	{% endif %}
	]

	[
	{% if attendance.enkai_attend %}
	二次会参加
	{% else %}
  	二次会不参加
	{% endif %}
	]
	事前課題:{{attendance.prework}}
      </li>
    {% endfor %}
    </ul>
    <p>
      サマリー:　参加者数 {{ num_attend }}, 二次会参加者数 {{ num_enkai_attend }}
      
    </p>
    <hr>
    <address><a href="mailto:dancer@debian.org">Junichi Uekawa</a></address>
<!-- Created: Wed Dec 30 09:42:24 JST 2009 -->
<!-- hhmts start -->
Last modified: Thu Jan  7 23:22:11 JST 2010
<!-- hhmts end -->
  </body>
</html>
