Source: monthly-report
Section: doc
Priority: contrib/optional
Maintainer: Junichi Uekawa <dancer@debian.org>
Build-Depends: debhelper (>= 5), ptex-bin, dvipdfmx, latex-beamer, okumura-clsfiles, gs-esp, xpdf, xpdf-japanese 
Standards-Version: 3.7.2

Package: monthly-report
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tokyo area debian meeting monthly report
 This package contains reports of monthly meeting about Debian held in
 Tokyo. Useful when searching for Debian-development related
 documentation in Japanese.
