#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1
VERSION=$(shell dpkg-parsechangelog | sed -n 's/Version: \(.*\)-\(.*\)$$/\1/p')

%:
	dh $@

override_dh_auto_build:
	# fool the check scripts
	dh_auto_build

override_dh_compress:
	dh_compress -X.pdf

# make orig.tar.gz file if it does not exist.
local-make-orig: ../tokyodebian_$(VERSION).orig.tar.gz

../tokyodebian_$(VERSION).orig.tar.gz: 
	git archive --format=tar HEAD | gzip -c9 > $@.tmp.gz
	mv $@.tmp.gz $@

.PHONY: override_dh_auto_build override_dh_compress local-make-orig
